<!doctype html>
<html style="height: 100%;" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-lite"><head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="[HOME-URL]style.css" type="text/css" media="screen">
	[RSS]
<!-- All in One SEO Pack 1.6.13.8 by Michael Torbert of Semper Fi Web Design[,] -->
<meta name="description" content="[DESCRIPTION]">
<meta name="keywords" content="[KEYWORDS]">
<title>[TITLE]</title>

<!-- /all in one seo pack -->


</head>
<body style="position: relative; min-height: 100%; top: 0px;">
<div id="wrapper">
	<div id="header">
		<h1 id="logo"><a href="[HOME-URL]">[UC-KEYWORD]</a><span> [KEYWORDS]</span></h1>
		<ul id="top-nav">
			<li class="current_page_item"><a href="[HOME-URL]">Главная</a></li>
			<li class="page_item page-item-3">[UC-LINK-5]</li>
<li class="page_item page-item-2">[UC-LINK-4]</li>

<li>[UC-LINK-3]</li>

		</ul>

		<form method="get" id="searchform" action="[GO-URL]">
			<input name="s" id="s" value="Searching" onfocus="document.forms[''searchform''].s.value='''';" onblur="if (document.forms[''searchform''].s.value == '''') document.forms[''searchform''].s.value=''Searching'';" type="text">
			<input id="searchsubmit" value="Search" type="submit">
		</form>


		<ul id="nav">
			<li class="current_page_item"><a href="[HOME-URL]">Главная</a></li>
      [MENU-CATEGORY]
		</ul>
	</div><!-- end #header -->

	<div id="container">
		<div id="content">
       <!-- rb:content -->
        <h2>[UCW-KEYWORD]</h2>
        [TEXT-7-15]
    <!-- /rb:content -->
    <img [GEN-IMG-200-350]>
			<div class="line"></div>

			
<div id="categories">
		<ul class="column">
			[RAND-UC-LINK-5-5]
	</ul><!-- .column -->

		<ul class="column">
						[RAND-UC-LINK-5-5]
	</ul><!-- .column -->

		<ul class="column">

			[RAND-UC-LINK-5-5]
	</ul><!-- .column -->

</div><!-- #categories -->

			<div class="line"></div>


<div class="line"></div>
     
 <h3>Последние публикации:</h3>
      <ul class="recent">
      		<ul>
        [RAND-UC-LINK-13-15]
        </ul>      
      </ul>

<div class="line"></div>


<h3>[RAND-KEYWORD]:</h3>

[TEXT-NOKEY-2-3]


<div class="line"></div>

<h3>[RAND-KEYWORD]:</h3>

[TEXT-NOKEY-2-5]


    </div><!-- end #content -->
    
    <div id="sidebars">
      <div id="l-sidebar">


								<div class="post">
					<h3>[RAND-UC-LINK]</h3>
					<div class="postmetadata">[RAND-10-29].[RAND-1-10].20[RAND-11-12] @ <a href="[GO-URL]" rel="category tag">[NICK]</a></div>
					<div class="entry">
				[TEXT-NOKEY-1-2]
					</div>
				</div>
				<div class="post">
					<h3>[RAND-UC-LINK]</h3>
					<div class="postmetadata">[RAND-10-29].[RAND-1-10].20[RAND-11-12] @ <a href="[RAND-URL]" rel="category tag">[NICK]</a></div>
					<div class="entry">
				[TEXT-NOKEY-1-2]
					</div>
				</div>
				<div class="post">
					<h3>[RAND-UC-LINK]</h3>
					<div class="postmetadata">[RAND-10-29].[RAND-1-10].20[RAND-11-12] @ <a href="[RAND-URL]" rel="category tag">[NICK]</a></div>
					<div class="entry">
				[TEXT-NOKEY-1-2]
					</div>
				</div>
				<div class="post">
					<h3>[RAND-UC-LINK]</h3>
					<div class="postmetadata">[RAND-10-29].[RAND-1-10].20[RAND-11-12] @ <a href="[RAND-URL]" rel="category tag">[NICK]</a></div>
					<div class="entry">
				[TEXT-NOKEY-1-2]
					</div>
				</div>
				<div class="post">
					<h3>[RAND-UC-LINK]</h3>
					<div class="postmetadata">[RAND-10-29].[RAND-1-10].20[RAND-11-12] @ <a href="[RAND-URL]" rel="category tag">[NICK]</a></div>
					<div class="entry">
				[TEXT-NOKEY-1-2]
					</div>
				</div>



 <h2>TAGS</h2>
[TAGS]
</div><!-- end #l-sidebar -->
			<div id="r-sidebar">
<ul>
					<li>[ARSS]</li>
</ul>
<ul>

<p><a href="[GO-URL]" rel="nofollow" target="_blank"><img src="[HOME-URL]files/stat.gif" style="border:0" alt="" height="26" width="88"></a></p>

</ul>



<h2>Новое</h2>   
<ul>   
[RAND-UC-LINK-7-10]  
</ul>  

<h2>Комментарии</h2>
<ul>
<li>[NICK] - [TEXT-1-1]</li>
<li>[NICK] - [TEXT-1-1]</li>
<li>[NICK] - [TEXT-1-1]</li>

</ul>

</div></div></div><!-- end #container -->

	<div id="footer">
		Copyright &copy; 2008-2014 <a href="[GO-URL]">Все про [RAND-KEYWORD]</a>.
	</div>

</div><!-- end #wrapper -->


</body></html>