<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>[TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="[KEYWORDS]">
<meta name="description" content="[DESCRIPTION]">
<link href="[HOME-URL]styles/main.css" type="text/css" rel="stylesheet">
[RSS]
</head>

<body>
<div class="main">
    <div class="head">
        <span class="logo"><b>Health</b> Today</span>
        <ul>
            <li>Home</li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </div>
    <div class="top">
        <h2>Learn more about [KEYWORD]</h2>
<a href="[RAND-URL]">[RAND-URL]</a>
        <a href="#" class="more">More...</a>
    </div>

    
    <div class="left">
    <!-- rb:content -->
        <h1>[UCW-KEYWORD]</h1>
        [TEXT-6-10]
    <!-- /rb:content -->
    </div>


    <div class="right">
        <h3>Popular Links</h3>
        <ul>
        [RAND-UC-LINK-10-10]
        </ul>
        <h3>Menu</h3>
        <ul>
        [MENU-CATEGORY]
        </ul>
        <div class="wp-tag-cloud">
        [TAGS]
        </div>
    </div>
    <div class="clear"></div>
    

    <div class="footer">
        © 2003-2013, HealthToday<br>
        [UC-LINK-5] | [UC-LINK-6] | [UC-LINK-7]
    </div>
</div>
</body>
</html>