<!doctype html>
<html>
<head>
<title>[TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="[KEYWORDS]">
<meta name="description" content="[DESCRIPTION]">
<link href="[HOME-URL]styles/main.css" type="text/css" rel="stylesheet">
[RSS]
</head>

<body>
<div class="main">
    <div class="head">
        <span class="logo"><b>Свежие</b> новости</span>
        <ul>
            <li>Главная</li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="top">
        <h2>Вас интересует [KEYWORD]?</h2>
        <a href="#" class="more">Узнать больше</a>
    </div>

    
    <div class="left">
    <!-- rb:content -->
        <h1>[UC-KEYWORD]</h1>
        [TEXT-10-15]
    <!-- /rb:content -->
<h2>[UCW-KEYWORD]</h2>
    </div>
[RAND-UC-LINK]

    <div class="right">
        <h3>Наши статьи:</h3>
        <ul>
        [RAND-UC-LINK-5-12]
        </ul>
        <div class="wp-tag-cloud">
        [TAGS]
        </div>
    </div>
    <div class="clear"></div>
    

    <div class="footer">
        © 2003-2014, Свежие новости<br>
        [UC-LINK-5] | [UC-LINK-6] | [UC-LINK-7]
    </div>
</div>
</body>
</html>